# Testreport

<details><summary>Test Report</summary>
 <p> 

| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 15 Feb'22 | UX 1 | Preet | F | |
| 15 Feb'22 | UX 1 | Preet | F | |
| 15 Feb'22 | UX 1 | Preet | F | |
| 15 Feb'22 | UX 1 | Preet | F | |
| 15 Feb'22 | UX 1 | Preet | F | |
| 15 Feb'22 | UX 1 | Preet | F | |

  </p>
  </details>
